<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
        <title>Travel (with Martin) App</title>
    </head>
    <body>
        <main>
            <section class="app header">
                Travel (with Martin) App
            </section>
            <section class="app">
                <!--form to submit data-->
                <form id="form">
                    <label for="text">Enter origin</label>
                    <label for="text2">Enter destination</label>
                    <label for="date">Enter date of departure</label>
                    <div class="text-button">
                        <input type="text" id="text" placeholder="origin..." required>
                        <input type="text" id="text2" placeholder="destination..." required>
                        <input type="date" id="date" required>
                        <input type="submit" value="Gimme dat data">
                    </div>
                </form>
                <input type="button" id="delete" value="Reset">
            </section>
            <section class="app results", id="results-area">
                <!--shows result of the process-->
            </section>
        </main>
        <!--footer area-->
        <footer>
            @ Footer stuff, not food stuff.
        </footer>
        <!--add service workers later-->
    </body>
</html>