footer {
    border-top-width: medium;
    border-top-style: solid;
    font-weight: 600;
    color: #fff;
    font-size: 1.25rem;
    padding: 0.5rem 0.4rem 0 0.4rem;
    margin: 0.2rem;
    @media (min-width: 48rem) {
        font-size: 1.4rem;
    }
    @media (min-width: 64rem) {
        font-size: 2rem;
    }
}